/* Custom CSS for the modal header */
.modal-content h5 {
    position: relative;
    background-color: #30619f;
    color: #fff;
    padding: 19px;
    margin-top: 0;
    border-radius: 5px 5px 0 0;
    left: -29px;
    width: 858px;
    margin-top: -48px;
}


.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 55%;
    width: 47%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
}


#modal-content-curd{
    position:relative;
    top:-2px;
    padding:20px;
    width:100%;
}



#inputskillname, #inputNumberofEmployees, #inputRatePerHour {
    width: calc(100% - 335px); /* Set width to 100% minus padding */
    padding: 0px; /* Add padding for better appearance */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius for rounded corners */
    margin-bottom: 10px; /* Add margin at bottom for spacing */
}
    
   


#inputRemark {
    width: calc(100% - 40px); /* Set width to 100% minus padding */
    padding: 10px; /* Add padding for better appearance */
    border: 1px solid #ccc; /* Add border */
    border-radius: 5px; /* Add border radius for rounded corners */
    margin-bottom: 10px; /* Add margin at bottom for spacing */
    resize: vertical; /* Allow vertical resizing */
}


.modal-footer .btn-flat:hover {
    background-color: #0a7bcd; 
}


#skillicon, #NumberofEmployeesicon, #skillicontxt, #Numbericontxt, #ExistNameIcon, #skillExistsIcon {
    display: none;
}

.Iconcolor {
    position: absolute;
    color: red;
}
#skillerror, #NumberofEmployeeserror, #NumberofEmployeesicon, #skillicontxt, #Numbericontxt, #SkillNameExistsMsg {
    color: red;
}

.required::after {
    content: "*";
    color: red;
}

.required{
    color:black;
}

.colorclass{
    color:black;
}


.checkbox-align {
    text-align: center; 
}


#menu-box {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
}

#menu-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#menu-box ul li {
    margin-bottom: 5px;
}

#menu-box ul li a {
    text-decoration: none;
    color: #333;
}



#submit {
    background-color: blue;
    position: absolute;
    right: 117px;
    color: white;
    border-radius: 5px;
    margin-top: -9px;
    cursor: pointer;
}


#cancel {
    position: absolute;
    right: 48px;
    margin-top: -9px;
    cursor: pointer;
    color: grey;
}

.heading{
    color:white;
}

#inputskillname {
    position: relative;
    left: 116px;
    width: 500px;
    top: 10px;
}


#inputNumberofEmployees {
    position: relative;
    left: 52px;
    top: 10px;
    width: 500px;
}

#inputRatePerHour {
    position: relative;
    left: 102px;
    width: 500px;
    top: 10px;
}

#inputRemark {
    position: relative;
    width: 500px;
    height: 89px;
    left: 138px;
    top: 10px;
}


.Remarkclass {
    position: relative;
    top: -76px;
    color:black;
}


.checkboxclass {
    position: relative;
    left: 123px;
    bottom:-7px;
}




#closebtn {
    position: absolute;
    top: 23px;
    right: 17px;
    color: white;
}



#skillicontxt {
    position: absolute;
    right: 43px;
    top: 176px;
}

#Numbericontxt {
    position: absolute;
    right: 43px;
    top: 234px;
}

#IsActiveCheckbox {
    position: relative;
    top: 18px;
    left: 236px;
    cursor: pointer;
}


#dummycheckbox {
    display: none;
}

#lblactive {
    position: relative;
    top: -36px;
    left: -58px;
    color: black;
}

#ExistsNameId{
    color:red;
}

#spanisActive {
    position: relative;
    right: -32px;
    
    top: 18px;
}

#ExistNameIcon {
    top: 404px;
    right: 468px;
}

.edittext {
    position: relative;
    top: -5px;
}

.Viewtext{
    position:relative;
    top:-6px;
}

.deletetext {
    position: relative;
    top: -6px;
}

#addButton, #gridbutton, #binbutton, #editbutton, #gridbutton, #Refreshbutton, #dropdownlist {
    cursor: pointer;
    color: #30619f;
    font-size:26px;
}
#closebtn{
    cursor:pointer;
}

.curddropdown {
    cursor: pointer;
}

/*---------------------------------------------------------Toobar Header CSS------------------------------------------------------------------------*/

.toolbarul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.toolbarul li {
    float: left;
}

.toolbarul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.toolbarul li a:hover {
    background-color:white;
}

.toolbarul{
    position:relative;
    top:-7px;
}

#dropdown {
    position: relative;
    width: 104px;
    left: 266px;
    top: -63px;
}

#searchinput {
    position: relative;
    top: -95px;
    left: 1163px;
    width: 280px;
    border-radius: 6px;
    height: 33px;
}

.textbox-container {
    position: relative;
    width: 250px; /* Adjust the width as needed */
    margin: 20px; /* Adjust margin as needed */
}

.textbox-container input[type="text"] {
    width: calc(100% - 30px); /* Adjust the width to accommodate the icon */
    padding: 10px 30px 10px 10px; /* Adjust padding to make room for the icon */
    border: 2px solid #ccc;
    border-radius: 20px; /* Adjust the border radius for curved edges */
    box-sizing: border-box;
    outline: none;
}


.search-icon {

    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; /* Adjust the width of the icon */
    height: 20px; /* Adjust the height of the icon */
    background-image: url('search-icon.png'); /* Specify the path to your search icon image */
    background-size: cover;
    cursor: pointer;
}



.ToolbarContainer {
    position: relative;
    border-bottom-style: inset; 
    border-bottom-width: 2px;
    height: 116px;
    padding: 8px;
    top: -25px;
    margin-left: -202px;
    width: 1492px;
}

ToolbarContainer.inset {
    border-style: inset;
}

/*.submitcustomizedalert {
    position: relative;
    background-color: #d4edda;
    display: block;
    width: 622px;
    left: 142px;
    display: none;
    top: -42px;
}*/

.skillNamemoreverticon {
    position: relative;
    right: -85px;
}

#skillheading {
    color: #30619f;
    font-size: 23px;
}

#exportContainer {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#btnDropdown {
    vertical-align: middle;
    cursor: pointer;
}


.closebtn {
    position: relative;
    left: 584px;
    width: 9px;
    top: -11px;
    font-size: 22px;
    cursor: pointer;
}

.strongclass {
    position: relative;
    color: green;
    left: -19px;
    top: -9px;
}



#ExportId {
    position: relative;
    bottom: -15px;
}

#export_banner {
    display: none;
    position: relative;
    left: 302px;
    z-index: 1;
    display: block;
    top: -172px;
    background-color: white;
    width: 175px;
    border: solid 1px;
}

#ExportId {
    position: relative;
    bottom: 172px;
    z-index: 1;
    left: 296px;
    border: 0px;
    background-color: white;
    font-size: 21px;
}

#exportIcon {
    position: relative;
    bottom: 172px;
    z-index: 1;
    left: 288px;
    border: 0px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
}

#export_pop{
    display:none;
}

#ExportAll {
    position: relative;
    cursor: pointer;
    top: 3px;
}
#ExportSelected {
    position: relative;
    cursor: pointer;
    top: 8px;
}

.submitcustomizedalert {
    width: 42%;
    height: 75%;
    position: absolute;
    display:none;
    background-color: #d4edda;
    top: -33px;
    left: 428px;
    z-index: 10;
}

#exportbuttoncontainer, #ExportId {
    color: #30619f;
}

#ExportAll:hover, #ExportSelected:hover {
    background-color: blue;
}



/*.k-grid-header .k-header .k-link::after {
    content: "more_vert";*/ /* Code for 'more_vert' icon */
    /*font-family: "Material Icons";*/ /* Material Icons font family */
    /*font-size: 24px;*/ /* Adjust icon size as needed */
    /*position: absolute;
    right: 8px;*/ /* Adjust the position of the icon */
    /*top: 50%;*/ /* Adjust the position of the icon */
    /*transform: translateY(-50%);
}*/


#grid {
    height: 500px;
    width: 1491px;
    margin-left: -201px;
}

.menu-box {
    background-color: white;
    border-radius: 4px;
}


#searchicon {
    position: relative;
    top: -57px;
    left: 1420px;
    width: 280px;
    border-radius: 6px;
    height: 33px;
}


#uparrowascending, #downarrowdescending, #columnsicon, #filtericon {
    color: black;
}

#DeletemodalId {
    margin-top: -307px;
    position: relative;
    display: none;
    position: relative;
    width: 560px;
    margin-right: 437px;
    border: 1px solid;
    height: 241px;
    top: 60px;
    overflow: hidden;
    max-height: 169%;
}

.Deletepopheading {
    position: relative;
    background-color: blue;
    color: white;
    top: -17px;
    height: 42px;
}

.modal-content {

    top: -27px;
}

.modal-footer {
    display: flex;
    flex-wrap: wrap;
    height: 30px;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
}


.modal-content {
    overflow-y: hidden;
}


p{
    margin-top: -3px;
    margin-bottom: 8px;
}


.disableicons{
    opacity:0.5;
    cursor:none;
    pointer-events:none;
}


.k-menu-link-text {
    color: black;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.k-i-sort-desc-sm::before {
    content: "\e128";
    color: black;
}

.k-i-columns::before {
    content: "\e02d";
    color: black;
}

.k-i-filter::before {
    content: "\e129";
    color: black;
}

.k-i-sort-asc-sm::before {
    content: "\e127";
    color: black;
}

.k-i-arrow-e::before {
    color: black;
    content: "\e005";
}

k-header-column-menu:hover{
    background-color:blue;
}

.modal .modal-content {
    padding: 35px;
}

#modal-content-curd {
    position: relative;
    top: -2px;
    padding: 20px;
    width: 100%;
    overflow: hidden;
}

#Editblock:hover, #Viewblock:hover, #Deleteblock:hover {
    background-color: #30619f;
    color: white;
}

.curdlistcontainer {
    position: relative;
    padding: 4px;
}

.k-column-title {
    min-width: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: hidden;
    font-size: 17px;
    font-weight: bold;
}

#Editblock, #Viewblock, #Deleteblock {
    cursor: pointer;
}

#skillName-color {
    color: #30619f;
}

/*-------------------------------------Header style-------------------------------------*/

img {
    border-style: none;
    position: relative;
    left: -206px;
    top: -10px;
}

.text-dark {
    position: relative;
    left: -200px;
    top: -7px;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
}

.text-primary {
    position: relative;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important;
    left: -199px;
    top: -7px;
}


.logout-container {
    position: absolute;
    right: -594px;
    bottom: 1px;
    top: 37px;
}




