<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <i class="bx bx-buildings bx-sm text-dark"></i>
        <i class="bi bi-buildings"></i>
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand h1" href="index.html" >
                <i class="bx bx-buildings bx-sm text-dark"></i>
                    <img  src="~/assets/img/apple-icon.png" height="30px" width="30px"/>
                <span class="text-dark h4">Purple</span> <span class="text-primary h4">Buzz</span>
            </a>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler-success" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="navbar-toggler-success">
                <div class="flex-fill mx-xl-5 mb-2">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-xl-5 text-center text-dark">
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/Home/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/Home/About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/Home/Work">Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/Home/Pricing">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/Home/Contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/Files/GetFileUploading">FileUpload</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-outline-primary rounded-pill px-3" href="/HRForm/GetFormBooking">FormBooking</a>
                        </li>

                        <div class="username-container" id="username">
                            <li>
                                @if (TempData["email"]!=null)
                                {
                                    <li><a href="">Hello! @TempData.Peek("email")</a></li>
                                }
                            </li>
                        </div>

                        <br/>
                        <br/>
                        <li>
                            <div class="logout-container">
                                <a style="color:blue" href="@Url.Action("Logout", "Account")">
                                    <span>Logout</span>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <a class="nav-link" href="#"><i class="bx bx-bell bx-sm bx-tada-hover text-primary"></i></a>
                    <a class="nav-link" href="#"><i class="bx bx-bell bx-sm bx-tada-hover text-primary"></i></a>
                    <a class="nav-link" href="#"><i class="bx bx-cog bx-sm text-primary"></i></a>
                    <a class="nav-link" href="#"><i class="bx bx-user-circle bx-sm text-primary"></i></a>
                </div>
            </div>
        </div>
</header>

<link href="~/css/ValidationsStyles/styles.css" rel="stylesheet" />




 
